YANDEXDISK_DIR=/media/ars/linux_storage/Yandex.Disk/
ORBIT_SOCKETDIR=/tmp/orbit-ars
JETBRAINS_DIR=/media/ars/linux_storage/jetbrains
LC_ADDRESS=ru_RU.UTF-8
SPARK_HOME=/home/ars/spark-1.1.1
LC_MONETARY=ru_RU.UTF-8
DERBY_HOME=/usr/lib/jvm/java-7-oracle/db
WINDOWID=73400323
MATE_KEYRING_CONTROL=/tmp/keyring-JjxVpk
DEFAULTS_PATH=/usr/share/gconf/default.default.path
MAVEN_OPTS="-Xmx2g -XX:MaxPermSize=512M -XX:ReservedCodeCacheSize=512m"
XDG_CONFIG_DIRS=/etc/xdg/xdg-default:/etc/xdg
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
JAVA_HOME=/usr/lib/jvm/java-7-oracle
MANDATORY_PATH=/usr/share/gconf/default.mandatory.path
NODE_PATH=/usr/lib/nodejs:/usr/lib/node_modules:/usr/share/javascript
VAGRANT_HOME=/media/ars/linux_storage/vagrant
IM_CONFIG_PHASE=1
CLASSPATH=/home/ars/tmp/jgroups-3.4.1.Final.jar:/home/ars/tmp/jgroups-3.4.1.Final.jar:/home/ars/tmp/jgroups-3.4.1.Final.jar:/home/ars/tmp/jgroups-3.4.1.Final.jar:/home/ars/tmp/jgroups-3.4.1.Final.jar:$CLASSPATH
export PYCHARM_BIN=/media/ars/linux_storage/jetbrains/pycharm-5.0.4/bin/pycharm.sh
